.col-sm-12 {
    text-align: center;
    height: 75px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to left,rgb(11, 11, 85) 0%,rgb(40, 40, 172) 50%,rgb(160, 160, 206) 100%);
}

.col-sm {
    height: 30px;
    font-size: 30px;
    font-weight: bold;
}

.row {
    margin-left: -200px;
    margin-right: -200px;
    margin-top: 15px;
}

input {
    width: 300px;
    height: 40px;
}

button {
    width: 300px;
    height: 30px;
    background-color: rgb(104, 175, 255);
    color: white;
    border: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

.dailywrap {
    width: 100%;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
}

.forcastwrapper {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.forcast {
    float: left;
    width: 20%;
}

.forcast div {
    background-color: rgb(19, 19, 95);
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding: 5px;
    height: 200px;
    width: 175px;
}